# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 17
          - 21
    runs-on: ubuntu-latest
    name: 'Test (JDK ${{ matrix.java-version }})'
    steps:
      - uses: actions/checkout@v5
      - name: 'Set up JDK ${{ matrix.java-version }}'
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: liberica
      - name: 'Run tests'
        uses: burrunan/gradle-cache-action@v3
        with:
          job-id: jdk${{ matrix.java-version }}
          arguments: --scan --no-parallel --no-daemon build
